  @{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Content/toastr.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link href="~/css/Anasayfa2.css" rel="stylesheet" />

    <link href="~/css/responsive.css" rel="stylesheet" />

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>


    <script src="js/jquery-3.5.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arapey&family=BenchNine&family=Poiret+One&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <header>

        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">
                <a class="navbar-brand " href="#"><img src="~/image/app-store.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse   " id="navbarNav">
                    <div class="navbar-nav ml-auto ">
                        <a class=" nav-item nav-link" type="button" href="/Anasayfa/Kaydol"><span class="nav-btn">Kaydol</span> </a>
                        <a class=" nav-btn nav-item nav-link" type="button" href="/Anasayfa/GirisYap"><span class="nav-btn">Oturum aç</span> </a>


                    </div>
                </div>
            </div>
        </nav>


    </header>
    <section>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active  " data-interval="1000">

                    <img class="slider-img d-block w-100" src="~/image/slider-2.jpg">
                    <div class="carousel-caption d-none d-md-block ">
                        <h1 id="deneme" class="slider-h2  ">FİLM ve DİZİLERLE  <span class="renk">İNGİLİZCE ÖĞREN</span> </h1>

                        <a  href="/Anasayfa/GirisYap"><button class="slider-butn rounded-pill btn-lg">Öğrenmeye Şimdi Başla</button></a>
                    </div>


                </div>
                <div class="carousel-item " data-interval="2000">
                    <img class="slider-img d-block w-100" src="~/image/slider-01.jpg">
                    <div class="carousel-caption d-none d-md-block ">
                        <h1 class="slider-h2  ">FİLM ve DİZİLERLE  <span class="renk">İNGİLİZCE ÖĞREN</span> </h1>
                        <button class="slider-butn rounded-pill btn-lg">Öğrenmeye Şimdi Başla</button>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section>
        <div class="section-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="full center">
                            <div class=" text-center m-5 pb-5 ">
                                <h2 class="s1-h">En Sevilen <span class="renk"> Dizi Ve Filmlerle</span> Kelime Bilgini Güçlendir</h2>

                                <p class="s1-p">İngilizce Bilginizi En Kolay Yolla Geliştirin</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-2">
            <div class="container-fluid" id="section-2-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <img class="img-fluid mt-5" src="~/image/resume_img.png">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 text-left text-white">
                        <h2 class="text-white mt-4">
                            Bu Site İle 4 Adımda İngilizce Öğrenin
                        </h2>
                        <p class="text-uppercase text-left">Lorem ipsum dolor sit amet, consectetur adipisicing.dwqfqfqfq</p>
                        <p class="text-lowercase text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde velit, fugit facere autem eveniet nesciunt, id ab nam sunt placeat sapiente adipisci! Reprehenderit voluptates porro debitis exercitationem facere repudiandae sed iste, vero quos laboriosam eligendi laborum quibusdam a expedita assumenda quo cum ex ab nihil repellat reiciendis, laudantium tempora nobis cumque! Quam recusandae harum fugiat dolore. Cupiditate dolore sit quibusdam quo autem necessitatibus dignissimos distinctio molestias? Nisi reprehenderit quas in animi ratione quidem eligendi rerum corporis. Fugit vitae quam suscipit dolore illo quisquam quo facere reprehenderit sit nisi ipsum soluta quibusdam, minus laboriosam odio nulla non architecto! Harum, culpa molestias.</p>
                    </div>

                </div>
            </div>
        </div>


        <div id="section-3">
            <div class="container-fluid ">
                <div class="row mt-5 ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5   text-center ">
                        <h1>Bu site İle  <span class="renk">Kelimeleri</span> Nasıl Öğrenebilirim</h1>
                    </div>
                </div>
                <div class="row m-2 p-2  ">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4  text-center ">
                        <h4 class="m-2 p-2"><span class='far fa-closed-captioning mr-2'> </span> DİZİ KELİMELERİNİ  LİSTELENDİRME </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente, odio rem vel deserunt, veniam adipisci reprehenderit tempora ipsum repellendus modi consequatur ea asperiores odit.</p>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4  text-center ">
                        <h4 class="m-2 p-2"><span class='far fa-address-card mr-2'></span>  KENDİ  KELİME LİSTESİNİ OLUŞTURMA </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente, odio rem vel deserunt, veniam adipisci reprehenderit tempora ipsum repellendus modi consequatur ea asperiores odit.</p>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4  text-center ">
                        <h4 class="m-2 p-2"><span class='far fa-file-alt mr-2'></span>  KELİME ANLAMLARINA HEMEN ERİŞİM </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente, odio rem vel deserunt, veniam adipisci reprehenderit tempora ipsum repellendus modi consequatur ea asperiores odit.</p>
                    </div>

                </div>

                <div class="row m-2 p-2">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4  text-center ">
                        <h4 class="m-2 p-2"> <span class='fas fa-pencil-alt '></span>  ÖĞRENİLECEK KELİMELERİ  LİSTELEME </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente, odio rem vel deserunt, veniam adipisci reprehenderit tempora ipsum repellendus modi consequatur ea asperiores odit.</p>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4  text-center ">
                        <h4 class="m-2 p-2"><span class="far fa-envelope mr-2"></span> MAİL İLE GÜNLÜK HATIRLATMALAR </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente, odio rem vel deserunt, veniam adipisci reprehenderit tempora ipsum repellendus modi consequatur ea asperiores odit.</p>
                    </div>

                    <div class="col-12 col-sm-4 col-md-4 col-lg-4  text-center ">
                        <h4 class="m-2 p-2"><span class='fas fa-envelope-open-text '></span> GERÇEK KAYNAKLAR İLE ÇALIŞABİLME </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente, odio rem vel deserunt, veniam adipisci reprehenderit tempora ipsum repellendus modi consequatur ea asperiores odit.</p>
                    </div>



                </div>


            </div>





        </div>


    </section>

    <div class="section-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="full center">
                        <div class=" text-center m-5 p-3 ">
                            <h2 class="s4-h">
                                Site içinde <span class="renk">Kelime Bilginizi</span>
                                Güçlendirecek  Dizi Ve Filmler
                            </h2>

                            <p class="s4-p">İngilizce Bilginizi En Kolay Yolla Geliştirin</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section>
        <div id="slider2" class="carousel slide  " data-ride="carousel">

            <div class="carousel-inner ">
                <div class="carousel-item active " data-interval="1500">


                    <div class="container mb-5 pb-5">
                        <div class="row">
                            <div class=" col-4 col-lg-4 col-sm-4 col-md-4 col-xl-4">
                                <img class="img-fluid shadow-lg " src="~/film images/wp6302607-how-i-met-your-mother-4k-wallpapers.jpg" alt="First slide">

                            </div>

                            <div class=" col-4 col-lg-4 col-sm-4 col-md-4 col-xl-4">
                                <img class="img-fluid shadow-lg  " src="~/film images/U9RKcC0-madagascar-wallpapers (1).jpg" alt="First slide">

                            </div>

                            <div class=" col-4 col-lg-4 col-sm-4 col-md-4 col-xl-4">
                                <img class="img-fluid shadow-lg " src="~/film images/iXHtJJO-madagascar-2-wallpapers.jpg" alt="First slide">

                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slider2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon  h-25 w-25" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon  h-25 w-25" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </section>







    <footer id="sticky-footer" class="py-4 bg-primary text-white-50">
        <div class="container text-center text-white">
            <small>Copyright &copy; Hüseyin Güneş</small>
        </div>
    </footer>



    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



    <script type="text/javascript" src="js/anasayfa.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    @if (TempData["Model"] != null)
    {
        <script type="text/javascript">

            $(document).ready(function () {
                //$('#exampleModal').modal('show');
                alert("E-mail Adresinize Gönderilen Aktivasyon Kodunu Doğruladıktan Sonra Sisteme Giriş Yapabilirsiniz");

            });


        </script>
    }


   


</body>
</html>





