
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HataSayfasi</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                     <h4 class="modal-title justify-content-center" id="exampleModalLabel">İstenmeyen Durum Hatası!!!</h4>

                </div>
                <div class="modal-body text-center">
                    <i class="fa fa-ban justify-content-center" style="font-size:188px;color:red" aria-hidden="true"></i>
                </div>

            </div>
        </div>
    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {
            $('#exampleModal').modal('show');
            setTimeout(function () {
                window.location = "/Anasayfa/Anasayfa";
            },3000);
        });

    </script>
</body>
</html>
