
@{
    ViewBag.Title = "DiziEkle";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<div class="col-md-12 mt-4" id="Dizimid">
    <div class="card">
        <div class="card-body">
            <!-- title -->
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Dizi Adı Giriniz</label>
                    <input type="text" required class="form-control" id="DiziAd" aria-describedby="emailHelp" placeholder="Kelime">

                </div>

                <button type="submit" class="btn btn-primary" id="DiziEkle"> Dizi Ekle</button>
            </form>
            <!-- title -->
        </div>

    </div>
</div>

